/* ===== HEADER ===== */
.header {
  position: relative; /* Cambiado de sticky a relative */
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  height: 0; /* Para que no ocupe espacio y solo contenga el navbar */
  overflow: visible; /* Para que el navbar sea visible fuera del header */
}