.appContainer {
  min-height: 100vh;
  width: 100%;
  /* display: flex;  Eliminado para permitir sticky */
  flex-direction: column;
  align-items: center;
}

.mainContent {
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-padding-inline);
  box-sizing: border-box;
}
