.container {
  width: 100%;
  min-height: 100vh;
}

.main {
  width: 100%;
  max-width: var(--max-width-wide);
  margin: 0 auto;
  padding: 0 var(--inline-padding);
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}
